<div class="nav flex-column">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="/counter">
        Counter
    </NavLink>
</div>
